# tpm clones from the plugins' repo, which is the recommended way
# this violates the subtree structure of my dotfiles repo, but we ball
# C-a I in tmux to download the plugins
.config/tmux/plugins/*
!.config/tmux/plugins/tpm/

# ignore btop logs
.config/btop/btop.log
