# tpm clones from the plugins' repo, which is the recommended way
# this violates the subtree structure of my dotfiles repo, but we ball
# C-a I in tmux to download the plugins
.config/tmux/plugins/*
!.config/tmux/plugins/tpm/

# ignore btop logs
.config/btop/btop.log

# ignore nvim lazy-lock files
.config/nvim/lazy-lock.json
.config/lazyvim/lazy-lock.json
.config/lazyvim/lazyvim.json
