@import "mocha.css";

* {
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: BitstromWera Nerd Font Propo;
  font-size: 14px;
}

window#waybar {
  background-color: transparent;
  transition-property: background-color;
  transition-duration: 0.5s;
}

window#waybar.hidden {
  opacity: 0.5;
}

#workspaces {
  background-color: transparent;
}

#workspaces button {
  all: initial; /* Remove GTK theme values (waybar #1351) */
  min-width: 0; /* Fix weird spacing in materia (waybar #450) */
  box-shadow: inset 0 -3px transparent; /* Use box-shadow instead of border so the text isn't offset */
  padding: 6px 18px;
  margin: 6px 3px;
  border-radius: 16px;
  border-style: solid;
  border-width: 0px;
  border-color: @text;
  background-color: @surface0;
  color: @rosewater;
}

#workspaces button.active {
  color: @base;
  background-color: @rosewater;
}

#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
  color: @base;
  background-color: @rosewater;
}

#workspaces button.urgent {
  background-color: @red;
}

#memory,
#cpu,
#temperature,
#custom-logo,
#battery,
#backlight,
#pulseaudio,
#network,
#clock,
#tray {
  border-radius: 16px;
  border-style: solid;
  border-width: 0px;
  border-color: @text;
  margin: 6px 3px;
  padding: 6px 12px;
  background-color: @surface0;
  color: @mantle;
}

#tray,
#custom-logo {
  padding-left: 18px;
  padding-right: 18px;
  color: @sapphire;
}

#memory {
  color: @peach;
}
#cpu {
  color: @lavender;
}
#battery {
  color: @red;
  background-color: @surface0;
}
@keyframes blink {
  to {
    background-color: @red;
    color: @base;
  }
}

#battery.charging {
  color: @green;
  background-color: @surface0;
}
#battery.discharging.warning,
#battery.discharging.critical {
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#backlight {
  color: @peach;
}

#pulseaudio {
  color: @yellow;
}

#network {
  color: @teal;
}

#clock {
  color: @mauve;
}

#temperature {
  color: @red;
}

tooltip {
border-radius: 8px;
padding: 15px;
background-color: @base;
}

tooltip label {
padding: 5px;
background-color: @base;
}
